{% extends "base.html" %}

{% block menu %}
{{ super() }}
{% for article in articles_page.object_list|reverse %}
    <li><a href="#{{ article.slug }}">{{ article.title }}</a></li>
{% endfor %}
    <li><a href="#publications">Publications</a></li>
{% endblock %}

{% block content %}
<section id="content">

{% for article in articles_page.object_list|reverse %}
<article itemscope itemtype="http://schema.org/Article" id="{{ article.slug }}">
    <header>
        <h1 itemprop="name">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" itemprop="url">
                {{ article.title }}
            </a>
        </h1>
    </header>
    <span class="article-content" itemprop="articleBody">
    {{ article.content }}
    </span>
</article>
{% endfor %}

{# Publications #}
{% if category is not defined %}
{% include "publications.html" %}
{% endif %}
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
