{% macro navbar(siteurl, sitename) %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <!--
                    Brand and toggle get grouped for better mobile display
        -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ siteurl }}">{{ sitename }}</a>
        </div>

        <!--
            Collect the nav links, forms, and other content for
            toggling
        -->
        <div class="collapse navbar-collapse navbar-menu" role="navigation">
            <ul class="nav navbar-nav">
                {{ caller() }}
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                <li style="padding:11px 15px 10px 15px;">
                <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/116983469368569043160" data-rel="author"></div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endmacro %}
